fixed_n8n_workflow.json
{
  "name": "DreamSeed",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const b = items[0].json;\nreturn [{ json: {\n  slug: b.slug || \"dream-seed\",\n  company_name: b.company_name || \"Dream Seed\",\n  profile_json: b.profile_json || {},\n  images: Array.isArray(b.images) ? b.images : [],\n  status: b.status || \"draft\"\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-416, -144],
      "id": "17493f56-1479-4e88-844c-9bed8c8792d5",
      "name": "Normalize Payload"
    },
    {
      "parameters": {
        "jsCode": "const site = items[0]?.json;\nconst input = $items(\"Normalize Payload\")?.[0]?.json;\n\nreturn [{ json: {\n  site_id: site?.id || \"no-id\",\n  slug: input?.slug || \"default-slug\",\n  profile_json: input?.profile_json || {},\n  images: input?.images || []\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [208, -144],
      "id": "f70caafe-2639-49aa-9a32-81f78ccecb08",
      "name": "Build site.json"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://api.github.com/repos/dreamseed2025/dreamseed_website_builder/contents/site.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer ${GITHUB_TOKEN}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"message\": \"chore: update site.json\",\n  \"content\": \"={{Buffer.from(JSON.stringify($items('Build site.json')[0].json, null, 2)).toString('base64')}}\",\n  \"branch\": \"main\"\n}",
        "options": {}
      },
      "id": "21167a86-44ce-4e29-885e-b79d6b2c530e",
      "name": "GitHub: PUT site.json",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [416, -144],
      "credentials": {
        "githubOAuth2Api": {
          "id": "Ybp31w9jYLyWDRfm",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.vercel.com/v1/integrations/deploy/prj_dSB2N6HNUUc3tJwYZKJxfSNtyIM6/TgFqpeEPQj",
        "options": {}
      },
      "id": "4df8417d-ad17-44bd-9978-5ee8fdd624d1",
      "name": "Vercel: Deploy Hook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [608, -144]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\":\"ok\",\"message\":\"Queued deploy\",\"slug\":\"={{$items('Build site.json',0,0).json.slug}}\"}",
        "options": {}
      },
      "id": "11a08566-f014-4b3d-959f-207b536ef0b2",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [800, -144]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dreamseed/publish",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "55f2a7ca-9538-4baf-b7bd-b9606e726094",
      "name": "Webhook (POST profile_json)1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [-608, -144],
      "webhookId": "d0752106-cd9c-45bc-b320-372574c3340f"
    },
    {
      "parameters": {
        "useCustomSchema": true,
        "operation": "create",
        "tableId": "sites",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "slug",
              "fieldValue": "={{$json.slug}}"
            },
            {
              "fieldId": "company_name",
              "fieldValue": "={{$json.company_name}}"
            },
            {
              "fieldId": "profile_json",
              "fieldValue": "={{$json.profile_json}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [-208, -144],
      "id": "9d85ddf7-359b-4190-923a-54e15c1add9f",
      "name": "Supabase: Upsert Site1",
      "credentials": {
        "supabaseApi": {
          "id": "MKb8d8JBCOxbIBJI",
          "name": "Supabase account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "sites",
        "returnAll": true,
        "filterType": "none"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [-16, -144],
      "id": "baf33d26-5511-40a1-91fc-ee9f26d29a91",
      "name": "Supabase: Get Site ID1",
      "credentials": {
        "supabaseApi": {
          "id": "MKb8d8JBCOxbIBJI",
          "name": "Supabase account 3"
        }
      }
    }
  ],
  "connections": {
    "Normalize Payload": {
      "main": [[{"node": "Supabase: Upsert Site1", "type": "main", "index": 0}]]
    },
    "Build site.json": {
      "main": [[{"node": "GitHub: PUT site.json", "type": "main", "index": 0}]]
    },
    "GitHub: PUT site.json": {
      "main": [[{"node": "Vercel: Deploy Hook", "type": "main", "index": 0}]]
    },
    "Vercel: Deploy Hook": {
      "main": [[{"node": "Respond", "type": "main", "index": 0}]]
    },
    "Webhook (POST profile_json)1": {
      "main": [[{"node": "Normalize Payload", "type": "main", "index": 0}]]
    },
    "Supabase: Upsert Site1": {
      "main": [[{"node": "Supabase: Get Site ID1", "type": "main", "index": 0}]]
    },
    "Supabase: Get Site ID1": {
      "main": [[{"node": "Build site.json", "type": "main", "index": 0}]]
    }
  },
  "active": true,
  "settings": {"executionOrder": "v1"},
  "versionId": "e4ee9a46-ebbd-4f47-81e4-12f1c96babf0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ba5c44a1eb2ab253b5a9795a9aca63a77c3a62add72b5780d23ce191c4e198e7"
  },
  "id": "3KeeE4qg9iP2ZbyE",
  "tags": []
}